.hero_section {
  /* max-width: 1200px;
    width: 90%;
    margin: auto; */
    position: relative;
    width: 100%;
    height: 93dvh;
}
.hero_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.Image__root {
  z-index: -1;
}
.hero_content > h4 {
  color: rgb(251, 251, 251);
  margin-top: 50px;
  text-transform: uppercase;
  text-align: center;
}
.hero_content > h1 {
  color: rgb(254, 253, 253);
  margin-top: 50px;
  text-transform: uppercase;
}
.hero_content_data {
  padding: 15px 20px;
  background: #89a1a1;
  height: 20%;
  border-radius: 20px;
  margin-top: 14rem;
  font-size: 16px;
  cursor: pointer;
}
.hero_content_data > p {
  white-space: nowrap;
  color: white;
  font-size: larger;
  text-shadow: 1px 1px 1px black;
  margin-bottom: 5px;
}
.hero_content_data::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #172424;
  display: block;
  margin: auto;
}
.hero_content_data:hover::after {
  width: 100%;
  transition: 0.5s;
}
